<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ADOTest" connectionString="Data Source=.;Initial Catalog=TimingTest;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add name="Entities" connectionString="metadata=res://*/EFEntities.csdl|res://*/EFEntities.ssdl|res://*/EFEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=TimingTest;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
